<h1>Portafolio Natalia Campos</h1>
<h3>Programadora Fullstack en Ruby on Rails</h3>
<br>
<ul>
    <li><%= link_to 'Mis proyectos', pages_projects_path %></li>
    <br>
    <li><%= link_to 'Contáctame', pages_contact_path %></li>
</ul>
